body {
  width: 80%;
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
}

header,
.right-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
}

ul {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: space-between;
  gap: 16px;
  padding: 0px;
}

li {
  border: 1px solid black;
  border-radius: 4px;
  list-style: none;
  width: 150px;
  height: 150px;
  padding: 16px;
}

li span:first-child {
  display: block;
  padding-bottom: 8px;
  font-weight: bold;
  text-transform: capitalize;
}

.add-blog-form input {
  margin-right: 16px;
}
